<html>
    <title>Node App</title>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-datepicker.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/font-awesome/css/font-awesome.min.css">
        <script type="text/javascript" src="/static/js/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-datepicker.min.js"></script>
        <script type="text/javascript" src="/static/js/common.js"></script>
        <script type="text/javascript" src="/static/js/controls.js"></script>
        <script type="text/javascript" src="/static/js/enums.js"></script>
    </head>
    <body>
            <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                      <ul class="nav navbar-nav">
                          <li><a href="/test">TestPage</a></li>
                      </ul>
                    </div>
                  </nav>
        <div class="container">
            <% if (messages.error) { %>
              <div class="alert alert-danger alert-dismissible">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>Error!</strong>
                  <br> 
                  <%- messages.error %>
                </div>
          <% } %>
          <% if (messages.success) { %>
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> <br>  <%- messages.success %>
              </div>
          <% } %>