<%- include ("../layouts/header.ejs") %>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"><%= title %></div>
            <div class="panel-body">
                <form class="form-horizontal" action="/company/edit/<%= company[0].id %>" method="POST">
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="name">Name</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" value="<%= company[0].name %>">
                      </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="location">Location</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="location" id="location" placeholder="Enter location" value="<%= company[0].location %>">
                        </div>
                      </div>
                    <div class="form-group"> 
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="/company"><button type="button" class="btn btn-default">Cancel</button></a>
                      </div>
                    </div>
                  </form>
            </div>
        </div>

    </div>
</div>

<%- include ("../layouts/footer.ejs") %>