<%- include ("../layouts/header.ejs") %>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"><%= title %><a href="/company/add" class= "pull-right"><i class="fa fa-plus fa-fw"></i>Add New Company</a></div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (companies) { %>
                        <% companies.forEach(function(company){ %>
                        <tr>
                            <td>
                                <%= company.name %>
                            </td>
                            <td>
                                <%= company.location %>
                            </td>
                            <td>
                                <a href="/company/edit/<%= company.id %>"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                        <% }) %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<%- include ("../layouts/footer.ejs") %>