<%- include ("../layouts/header.ejs") %>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Testseite</h1>

            <h2>Fach 1</h2>
            <button onclick="sendControlData(eClientCOM.COM1, 0x01, 0x01)">open locker</button>
            <button onclick="sendControlData(eClientCOM.COM1, 0x01, 0x02)">start current</button>
            <button onclick="sendControlData(eClientCOM.COM1, 0x01, 0x03)">stop current</button>

<!--            <h4>Farbe</h4>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x01, 0xd0)">aus</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x01, 0xd1)">rot</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x01, 0xd2)">gelb</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x01, 0xd3)">grün</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x01, 0xd4)">blau</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x01, 0xd5)">türkies</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x01, 0xd6)">lila</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x01, 0xdf)">Weiß</button>-->
<!--            <br><br>-->

            <h2>Fach 2</h2>
            <button onclick="sendControlData(eClientCOM.COM1, 0x02, 0x01)">open locker</button>
            <button onclick="sendControlData(eClientCOM.COM1, 0x02, 0x02)">start current</button>
            <button onclick="sendControlData(eClientCOM.COM1, 0x02, 0x03)">stop current</button>

<!--            <h4>Farbe</h4>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x02, 0xd0)">aus</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x02, 0xd1)">rot</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x02, 0xd2)">gelb</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x02, 0xd3)">grün</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x02, 0xd4)">blau</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x02, 0xd5)">türkies</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x02, 0xd6)">lila</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x02, 0xdf)">Weiß</button>-->
<!--            <br><br>-->

            <h2>Fach 3</h2>
            <button onclick="sendControlData(eClientCOM.COM1, 0x03, 0x01)">open locker</button>
            <button onclick="sendControlData(eClientCOM.COM1, 0x03, 0x02)">start current</button>
            <button onclick="sendControlData(eClientCOM.COM1, 0x03, 0x03)">stop current</button>

<!--            <h4>Farbe</h4>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x03, 0xd0)">aus</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x03, 0xd1)">rot</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x03, 0xd2)">gelb</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x03, 0xd3)">grün</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x03, 0xd4)">blau</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x03, 0xd5)">türkies</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x03, 0xd6)">lila</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x03, 0xdf)">Weiß</button>-->
<!--            <br><br>-->

<!--            <h2>Fach 4</h2>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x04, 0x01)">open locker</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x04, 0x02)">start current</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x04, 0x03)">stop current</button>-->

<!--            <h4>Farbe</h4>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x04, 0xd0)">aus</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x04, 0xd1)">rot</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x04, 0xd2)">gelb</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x04, 0xd3)">grün</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x04, 0xd4)">blau</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x04, 0xd5)">türkies</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x04, 0xd6)">lila</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM1, 0x04, 0xdf)">Weiß</button>-->
<!--            <br><br>-->

            <br><br>
<!--            <h2>Coin Slot</h2>-->
<!--            <button onclick="sendControlData(eClientCOM.COM2, 0x01, 0x99)">open coin slot</button>-->
<!--            <button onclick="sendControlData(eClientCOM.COM2, 0x02, 0x9a)">close coin slot</button>-->
<!--            <br><br>-->



<!--            <label>PIN</label><br>-->
<!--            <label>-->
<!--                <input type="password">-->
<!--            </label>-->
<!--            <button>enter PIN</button>-->
<!--            <br><br>-->
        </div>

        <div class="col-sm">
<!--            <h3>amount of money: 1,00€</h3>-->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Locker Number</th>
                    <th>Door Status</th>
                    <th>Device Status</th>
                    <th>Current Status</th>
                    <!--                <th>Locker Status</th>-->
                </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>
                                <div id="lockerNumber1"> 1</div>
                            </td>
                            <td>
                                <div id="doorStatus1"> 1</div>
                            </td>
                            <td>
                                <div id="deviceStatus1"> 1</div>
                            </td>
                            <td>
                                <div id="currentStatus1"> 1</div>
                            </td>
                        </tr>
                </tbody>

                <tbody>
                <tr>
                    <td>
                        <div id="lockerNumber2"> 1</div>
                    </td>
                    <td>
                        <div id="doorStatus2"> 1</div>
                    </td>
                    <td>
                        <div id="deviceStatus2"> 1</div>
                    </td>
                    <td>
                        <div id="currentStatus2"> 1</div>
                    </td>
                </tr>
                </tbody>

                <tbody>
                <tr>
                    <td>
                        <div id="lockerNumber3"> 1</div>
                    </td>
                    <td>
                        <div id="doorStatus3"> 1</div>
                    </td>
                    <td>
                        <div id="deviceStatus3"> 1</div>
                    </td>
                    <td>
                        <div id="currentStatus3"> 1</div>
                    </td>
                </tr>
                </tbody>

                <tbody>
                <tr>
                    <td>
                        <div id="lockerNumber4"> 1</div>
                    </td>
                    <td>
                        <div id="doorStatus4"> 1</div>
                    </td>
                    <td>
                        <div id="deviceStatus4"> 1</div>
                    </td>
                    <td>
                        <div id="currentStatus4"> 1</div>
                    </td>
                </tr>
                </tbody>


            </table>

    <!--        -->
    <!--        <table class="table table-bordered">-->
    <!--            <thead>-->
    <!--            <tr>-->
    <!--                <th>Locker Number</th>-->
    <!--                <th>Door Status</th>-->
    <!--                <th>Device Status</th>-->
    <!--                <th>Current Status</th>-->
    <!--&lt;!&ndash;                <th>Locker Status</th>&ndash;&gt;-->
    <!--            </tr>-->
    <!--            </thead>-->
    <!--        <tbody>-->
    <!--        <% if (lockers) { %>-->
    <!--            <% lockers.forEach(function(locker){ %>-->
    <!--                <tr>-->
    <!--                    <td>-->
    <!--                        <%= locker.LOCKER_NUMBER %>-->
    <!--                    </td>-->
    <!--                    <td>-->
    <!--                        <%= locker.DOOR_STATUS %>-->
    <!--                    </td>-->
    <!--                    <td>-->
    <!--                        <%= locker.DEVICE_STATUS %>-->
    <!--                    </td>-->
    <!--                    <td>-->
    <!--                        <%= locker.DEVICE_STATUS %>-->
    <!--                    </td>-->
    <!--                </tr>-->
    <!--            <% }) %>-->
    <!--        <% } %>-->
    <!--        </tbody>-->


    <!--        </table>-->

        </div>
    </div>
</div>

<%- include ("../layouts/footer.ejs") %>